/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Barra de scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #48cbff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #48cbff;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: #ccc;
}

/* Estilos para el encabezado */
header {
    margin-top: 85px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para el título */
h1 {
    font-size: 45px;
    text-align: center;
}

/* Estilos para las secciones de proyectos */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    overflow: auto;
}

#sub {
    background-color: #007BFF;
    color: white;
}

/* Estilos para los títulos de sección */
h2 {
    font-size: 35px;
    text-align: center;
}

/* Estilos para la lista de proyectos */
ul.project-list {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista de proyectos */
ul.project-list li {
    margin-bottom: 10px;
}

/* Estilos para secciones con una sola imagen */
section.single-image img {
    max-width: 40%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos para secciones con dos imágenes */
section.two-images img {
    max-width: 30%;
    display: inline-block;
    margin: 1% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section.two-images img:hover,
section.single-image img:hover {
    transform: scale(1.05);
}

/* Estilos para los títulos de reconocimiento */
ul.project-list h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para los párrafos de proyectos */
ul.project-list p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para el enlace de más información del Proyecto 1 */
a.more-info-link {
    text-align: center;
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

a.more-info-link:hover {
    background-color: #0056b3;
    align-items: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}

/* Estilos para los enlaces del pie de página */
footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

/* Cambiar el color de fondo del enlace al pasar el mouse sobre él en el pie de página */
footer a:hover {
    text-decoration: underline;
}

footer img:hover {
    transform: scale(1.2);
    margin: auto;
    padding: auto;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
    header {
        margin-top: 50px;
        padding: 15px 0;
    }

    h1 {
        font-size: 30px;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    h2 {
        font-size: 25px;
    }

    ul.project-list p {
        font-size: 14px;
    }

    section.single-image img {
        max-width: 80%;
    }

    section.two-images img {
        max-width: 80%;
        margin: 5px 0;
    }

    ul.project-list h2 {
        font-size: 20px;
    }

    a.more-info-link {
        font-size: 14px;
    }

    footer {
        padding: 5px 0;
    }

    footer a {
        margin: 0 5px;
    }
}
/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Barra de scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #48cbff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #48cbff;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: #ccc;
}

/* Estilos para el encabezado */
header {
    margin-top: 85px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para el título */
h1 {
    font-size: 45px;
    text-align: center;
}

/* Estilos para las secciones de proyectos */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    overflow: auto;
}

#sub {
    background-color: #007BFF;
    color: white;
}

/* Estilos para los títulos de sección */
h2 {
    font-size: 35px;
    text-align: center;
}

/* Estilos para la lista de proyectos */
ul.project-list {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista de proyectos */
ul.project-list li {
    margin-bottom: 10px;
}

/* Estilos para secciones con una sola imagen */
section.single-image img {
    max-width: 40%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos para secciones con dos imágenes */
section.two-images img {
    max-width: 30%;
    display: inline-block;
    margin: 1% 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section.two-images img:hover,
section.single-image img:hover {
    transform: scale(1.05);
}

/* Estilos para los títulos de reconocimiento */
ul.project-list h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

/* Estilos para los párrafos de proyectos */
ul.project-list p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para el enlace de más información del Proyecto 1 */
a.more-info-link {
    text-align: center;
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

a.more-info-link:hover {
    background-color: #0056b3;
    align-items: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}

/* Estilos para los enlaces del pie de página */
footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

/* Cambiar el color de fondo del enlace al pasar el mouse sobre él en el pie de página */
footer a:hover {
    text-decoration: underline;
}

footer img:hover {
    transform: scale(1.2);
    margin: auto;
    padding: auto;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
    header {
        margin-top: 50px;
        padding: 15px 0;
    }

    h1 {
        font-size: 30px;
    }

    section {
        margin: 10px;
        padding: 10px;
    }

    h2 {
        font-size: 25px;
    }

    ul.project-list p {
        font-size: 14px;
    }

    section.single-image img {
        max-width: 80%;
    }

    section.two-images img {
        max-width: 80%;
        margin: 5px 0;
    }

    ul.project-list h2 {
        font-size: 20px;
    }

    a.more-info-link {
        font-size: 14px;
    }

    footer {
        padding: 5px 0;
    }

    footer a {
        margin: 0 5px;
    }
}


